.skip-link {
    background:#1c0a3c;
    color: #bf9ef9;
    font-weight: 700; 
    left: 50%;
    padding: 8px;
    border-radius: 3px;
    outline: solid 2px #1c0a3c;    
    position: absolute;
    transform: translateY(-170%);
    transition: transform 0.3s;
}

.skip-link a {
    color: #bf9ef9;
  }
  
  .skip-link:focus {
    transform: translateY(0%);
    outline: solid 2px #1c0a3c;    
    color: #bf9ef9;
  }
  
  .skip-link:focus-within {
     transform: translateY(0%);
     color: #bf9ef9;
  }